<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">x</button>
	<h4 class="modal-title">Sign In</h4>
</div>

<div class="modal-body">
<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", :class => "btn btn-primary" %>
  </div>
  
<% end %>
</div>

<div class="modal-footer">
<%= render "devise/shared/links" %>
</div>