<% @items.each do |item| %>

<div id="item_<%= item.id %>" class="col-md-3">
	
	<div class="panel panel-default">
		
		<div  class="panel-heading">
			<%= item.title %>
		</div>
		
		<div class="panel-body">
			<% if item.images.count > 0 %>
			<%= image_tag(item.images.first.image_url, :size => "280x200") %>
			<% end %>
		</div>
		
		<div class="panel-footer">
			Family Name: <%= link_to item.family_name, family_path(item.family_name) unless item.family_name.nil?%><br/>
			Price: <%= raw item.price unless item.price.nil?%><br/>
			Location: <%= link_to item.town_name, location_path(item.town_name) unless item.town_name.nil? %><br/>
			Tags: <%= raw item.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br/>
			By: <%= link_to item.owner.user_name, owner_path(item.owner.user_name) unless (item.owner.nil? || item.owner.user_name.blank?) %>
		</div>
		
	</div>
	
	
</div>

<% end %>