<p id="notice"><%= notice %></p>
<% unless @items.empty? then %>
<% families = Array.new %>
<% locations = Array.new %>
<% max_price = 0 %>
<div id="listings_cont" class="container-fluid">
	<div>
		<% @items.each do |item| %>

		<%= render 'item', item: item %>

		<% families << item.family_name %>
		<% locations << item.town_name %>
		<% if max_price < item.price then max_price=item.price end %>
		<% end %>
	</div>
	<div id="filtering_panel" class="collapse">
		<form id="filtering" class="col-md-12" action="/" method="get">
			<div class="btn-group">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-default" onclick="reload()">Reset</button>
			</div>
			<div>
				<input type="hidden" name="filtering" value="true">

				<div class="form-group">
					<ul class="list-group">
						<h2>Families</h2>
						<% families.each do |i| %>
						<li class="list-group-item">
							<div class="form-check">
								<label>
									<input type="checkbox" name="family--<%= i %>" checked>
									<span class="label-text"><%= i %></span>
								</label>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
				<div class="form-group">
					<h2>Locations</h2>
					<ul class="list-group">
						<% locations.each do |i| %>
						<li class="list-group-item">
							<div class="form-check">
								<label>
									<input type="checkbox" name="location--<%= i %>" checked>
									<span class="label-text"><%= i %></span>
								</label>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
				<div class="form-group">
					<h2>Price</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="min_price">Min</label>
							<input type="number" name="min_price" value="0" min="0" max="<%= max_price.to_i - 10 %>">
						</li>
						<li class="list-group-item">
							<label for="max_price">Max</label>
							<input type="number" name="max_price" value="<%= max_price.to_i %>" min="0">
						</li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</div>
<% end %>